{% extends "client/ikea/base_site.html" %}
{% load i18n %}{% load url from future %}

{% block breadcrumbs %}
{% endblock %}

{% block actionbar_content %}
		<div id="action-bar" class="container-fluid">
			<div class="row-fluid">
				<div class="span6">
					<h1>Hello {% filter force_escape %}{% firstof profile.user.first_name profile.user.username %}{% endfilter %}!!!</h1>
				</div>
				<div class="span4 offset2 visible-desktop">
					<ul class="pull-right  action-nav">
					</ul>
				</div>
			</div>
		</div>
{% endblock %}
{% block title %}{% trans 'Password change successful' %}{% endblock %}
{% block content_title %}<a class="brand">{% trans 'Password change successful' %}</a>{% endblock %}

{% block content %}
<div class="container row-fluid" >
  <div class="row well">
    <div class="span8 offset2">
		{% trans 'Your password was changed.' %}
	</div>
	</div>
</div>
{% endblock %}
