{% extends "base_templates/base_site.html" %}
{% load i18n %}{% load url from future %}

{% block breadcrumbs %}
{% endblock %}

{% block title %}{% trans 'Password change successful' %}{% endblock %}
{% block content_title %}<a class="brand">{% trans 'Password change successful' %}</a>{% endblock %}

{% block content %}
<div class="container row-fluid" >
  <div class="row well">
    <div class="span8 offset2">

<ul class="breadcrumb">
<li><a href="{{home_url}}">{% trans 'Home' %}</a> <span class="divider">/</span></li>
<li>{% trans 'Password change successful' %}</a></li>
</ul>

<p class="alert alert-success">{% trans 'Your password was changed.' %}</p>
</div></div></div>
{% endblock %}
